/* Page Paiement */
.paiement {
    text-align: center;
    padding: 50px;
}

.paiement form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.paiement input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.paiement button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.paiement button:hover {
    background-color: #e65c00;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 15px 20px;
}
header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}